name: Validate

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  validate:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-go@v5
        with:
          go-version: "1.25.3"

      - name: Install Task
        uses: go-task/setup-task@v1

      - name: Setup dependencies
        run: task setup

      - name: Run validate
        run: task validate
